[submodule "extensions/AbuseFilter"]
	path = extensions/AbuseFilter
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/AbuseFilter
	branch = REL1_39
[submodule "extensions/CategoryTree"]
	path = extensions/CategoryTree
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/CategoryTree
	branch = REL1_39
[submodule "extensions/Cite"]
	path = extensions/Cite
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/Cite
	branch = REL1_39
[submodule "extensions/CiteThisPage"]
	path = extensions/CiteThisPage
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/CiteThisPage
	branch = REL1_39
[submodule "extensions/CodeEditor"]
	path = extensions/CodeEditor
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/CodeEditor
	branch = REL1_39
[submodule "extensions/ConfirmEdit"]
	path = extensions/ConfirmEdit
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/ConfirmEdit
	branch = REL1_39
[submodule "extensions/Gadgets"]
	path = extensions/Gadgets
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/Gadgets
	branch = REL1_39
[submodule "extensions/ImageMap"]
	path = extensions/ImageMap
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/ImageMap
	branch = REL1_39
[submodule "extensions/InputBox"]
	path = extensions/InputBox
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/InputBox
	branch = REL1_39
[submodule "extensions/Interwiki"]
	path = extensions/Interwiki
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/Interwiki
	branch = REL1_39
[submodule "extensions/Math"]
	path = extensions/Math
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/Math
	branch = REL1_39
[submodule "extensions/MultimediaViewer"]
	path = extensions/MultimediaViewer
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/MultimediaViewer
	branch = REL1_39
[submodule "extensions/Nuke"]
	path = extensions/Nuke
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/Nuke
	branch = REL1_39
[submodule "extensions/OATHAuth"]
	path = extensions/OATHAuth
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/OATHAuth
	branch = REL1_39
[submodule "extensions/PageImages"]
	path = extensions/PageImages
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/PageImages
	branch = REL1_39
[submodule "extensions/ParserFunctions"]
	path = extensions/ParserFunctions
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/ParserFunctions
	branch = REL1_39
[submodule "extensions/PdfHandler"]
	path = extensions/PdfHandler
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/PdfHandler
	branch = REL1_39
[submodule "extensions/Poem"]
	path = extensions/Poem
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/Poem
	branch = REL1_39
[submodule "extensions/Renameuser"]
	path = extensions/Renameuser
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/Renameuser
	branch = REL1_39
[submodule "extensions/ReplaceText"]
	path = extensions/ReplaceText
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/ReplaceText
	branch = REL1_39
[submodule "extensions/Scribunto"]
	path = extensions/Scribunto
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/Scribunto
	branch = REL1_39
[submodule "extensions/SecureLinkFixer"]
	path = extensions/SecureLinkFixer
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/SecureLinkFixer
	branch = REL1_39
[submodule "extensions/SpamBlacklist"]
	path = extensions/SpamBlacklist
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/SpamBlacklist
	branch = REL1_39
[submodule "extensions/SyntaxHighlight_GeSHi"]
	path = extensions/SyntaxHighlight_GeSHi
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/SyntaxHighlight_GeSHi
	branch = REL1_39
[submodule "extensions/TemplateData"]
	path = extensions/TemplateData
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/TemplateData
	branch = REL1_39
[submodule "extensions/TextExtracts"]
	path = extensions/TextExtracts
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/TextExtracts
	branch = REL1_39
[submodule "extensions/TitleBlacklist"]
	path = extensions/TitleBlacklist
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/TitleBlacklist
	branch = REL1_39
[submodule "extensions/VisualEditor"]
	path = extensions/VisualEditor
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/VisualEditor
	branch = REL1_39
[submodule "extensions/WikiEditor"]
	path = extensions/WikiEditor
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/WikiEditor
	branch = REL1_39
[submodule "skins/MinervaNeue"]
	path = skins/MinervaNeue
	url = https://gerrit.wikimedia.org/r/mediawiki/skins/MinervaNeue
	branch = REL1_39
[submodule "skins/MonoBook"]
	path = skins/MonoBook
	url = https://gerrit.wikimedia.org/r/mediawiki/skins/MonoBook
	branch = REL1_39
[submodule "skins/Timeless"]
	path = skins/Timeless
	url = https://gerrit.wikimedia.org/r/mediawiki/skins/Timeless
	branch = REL1_39
[submodule "skins/Vector"]
	path = skins/Vector
	url = https://gerrit.wikimedia.org/r/mediawiki/skins/Vector
	branch = REL1_39
[submodule "extensions/CheckUser"]
	path = extensions/CheckUser
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/CheckUser
	branch = REL1_39
[submodule "extensions/ContributionScores"]
	path = extensions/ContributionScores
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/ContributionScores
	branch = REL1_39
[submodule "extensions/DeleteBatch"]
	path = extensions/DeleteBatch
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/DeleteBatch
	branch = REL1_39
[submodule "extensions/Echo"]
	path = extensions/Echo
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/Echo
	branch = REL1_39
[submodule "extensions/Maintenance"]
	path = extensions/Maintenance
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/Maintenance
	branch = REL1_39
[submodule "extensions/MassEditRegex"]
	path = extensions/MassEditRegex
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/MassEditRegex
	branch = REL1_39
[submodule "extensions/CodeMirror"]
	path = extensions/CodeMirror
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/CodeMirror
	branch = REL1_39
[submodule "extensions/Arrays"]
	path = extensions/Arrays
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/Arrays
	branch = REL1_39
[submodule "extensions/Cargo"]
	path = extensions/Cargo
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/Cargo
[submodule "extensions/ExternalData"]
	path = extensions/ExternalData
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/ExternalData
[submodule "extensions/Graph"]
	path = extensions/Graph
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/Graph
	branch = REL1_39
[submodule "extensions/DataMaps"]
	path = extensions/DataMaps
	url = https://github.com/alex4401/mediawiki-extensions-DataMaps.git
	branch = REL1_39
[submodule "extensions/LabeledSectionTransclusion"]
	path = extensions/LabeledSectionTransclusion
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/LabeledSectionTransclusion
	branch = REL1_39
[submodule "extensions/Loops"]
	path = extensions/Loops
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/Loops
	branch = REL1_39
[submodule "extensions/MsUpload"]
	path = extensions/MsUpload
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/MsUpload
	branch = REL1_39
[submodule "extensions/MyVariables"]
	path = extensions/MyVariables
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/MyVariables
	branch = REL1_39
[submodule "extensions/RegexFun"]
	path = extensions/RegexFun
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/RegexFun
	branch = REL1_39
[submodule "extensions/RightFunctions"]
	path = extensions/RightFunctions
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/RightFunctions
	branch = REL1_39
[submodule "extensions/TabberNeue"]
	path = extensions/TabberNeue
	url = https://github.com/MooncellWiki/mediawiki-extension-Lazyload.git
[submodule "extensions/TemplateStyles"]
	path = extensions/TemplateStyles
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/TemplateStyles
	branch = REL1_39
[submodule "extensions/Variables"]
	path = extensions/Variables
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/Variables
	branch = REL1_39
[submodule "extensions/Widgets"]
	path = extensions/Widgets
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/Widgets
	branch = REL1_39
[submodule "extensions/WikiSEO"]
	path = extensions/WikiSEO
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/WikiSEO
	branch = REL1_39
[submodule "extensions/NativeSvgHandler"]
	path = extensions/NativeSvgHandler
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/NativeSvgHandler
	branch = REL1_39
[submodule "extensions/VipsScaler"]
	path = extensions/VipsScaler
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/VipsScaler
	branch = REL1_39
[submodule "extensions/Flow"]
	path = extensions/Flow
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/Flow
	branch = REL1_39
[submodule "extensions/HeadScript"]
	path = extensions/HeadScript
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/HeadScript
	branch = REL1_39
[submodule "extensions/JsonConfig"]
	path = extensions/JsonConfig
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/JsonConfig
	branch = REL1_39
[submodule "extensions/Lazyload"]
	path = extensions/Lazyload
	url = https://github.com/MooncellWiki/mediawiki-extension-Lazyload.git
[submodule "extensions/MobileFrontend"]
	path = extensions/MobileFrontend
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/MobileFrontend
	branch = REL1_39
[submodule "extensions/MultiBoilerplate"]
	path = extensions/MultiBoilerplate
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/MultiBoilerplate
	branch = REL1_39
[submodule "extensions/RevisionSlider"]
	path = extensions/RevisionSlider
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/RevisionSlider
	branch = REL1_39
[submodule "extensions/PinyinSort"]
	path = extensions/PinyinSort
	url = https://github.com/nbdd0121/MW-PinyinSort.git
[submodule "extensions/Sentry"]
	path = extensions/Sentry
	url = https://github.com/MooncellWiki/mediawiki-extensions-Sentry.git
[submodule "extensions/Thanks"]
	path = extensions/Thanks
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/Thanks
	branch = REL1_39
[submodule "extensions/UniversalLanguageSelector"]
	path = extensions/UniversalLanguageSelector
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/UniversalLanguageSelector
	branch = REL1_39
[submodule "extensions/VectorMenuSidebar"]
	path = extensions/VectorMenuSidebar
	url = https://github.com/MooncellWiki/mediawiki-extension-VectorMenuSidebar.git
[submodule "extensions/DeleteUserPages"]
	path = extensions/DeleteUserPages
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/DeleteUserPages
	branch = REL1_39
